{% extends "base_generic.html" %}

{% block content %}
    <h1> Petroleum prices </h1>

    <form action="" method="get">
        {{ filter.form.as_p }}
        <input type="submit" />
    </form>
    <table>
        <thead>
          <tr>
            <th scope="col">День</th>
            <th scope="col">Топливо</th>
            <th scope="col">Базис</th>
            <th scope="col">Объем</th>
            <th scope="col">Цена</th>
          </tr>
        </thead>
        <tbody>
          {% for petroleums in filter.qs %}
          <tr>
            <td>{{ petroleums.day }}</td>
            <td>{{ petroleums.product_key.sort }}</td>
            <td>{{ petroleums.basis.name }}</td>
            <td>{{ petroleums.volume }}</td>
            <td>{{ petroleums.price }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
{% endblock %}
