{% extends "base_generic.html" %}

{% block content %}
    <h1> Petroleum prices for period</h1>

    <form action="" method="get">
        {{ filter.form.as_p }}
        <input type="submit" />
    </form>
    <table>
        <thead>
          <tr>
            <th scope="col">День</th>
            <th scope="col">Топливо</th>
            <th scope="col">Базис</th>
            <th scope="col">Объем</th>
            <th scope="col">Цена</th>
          </tr>
        </thead>
        <tbody>
          {% for object in filter.qs %}
          <tr>
            <td>{{ object.day }}</td>
            <td>{{ object.product_key.sort }}</td>
            <td>{{ object.basis.name }}</td>
            <td>{{ object.volume }}</td>
            <td>{{ object.price }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
{% endblock %}
